{% extends "PizzeriaManuel/padre.html" %}

{% load static %}

{% block container %}

{% if pizzas %}

<section class="container p-5 bg-alto">

    <h2 class="display-4 fw-bolder text-center p-3">Pizzas Encontradas</h2>

    {% for pizza in pizzas %}

    <div class="col mb-5 card-ancho s-ancho">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{pizza.foto}}" alt="{{pizza.nombre}}" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{pizza.nombre}}</h5>
                    <!-- Product price-->
                    <p>Ingredientes: {{pizza.ingredientes}}</p>
                    <p>Tamaño: {{pizza.tamanio}}</p>
                    <b>Precio: ${{pizza.precio}}</b>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar Carrito</a></div>
            </div>
        </div>
    </div>

    {% endfor %}

    {% else %}

    <h1 class="display-4 fw-bolder text-center p-3">No existe ese producto.</h1>

</section>

{% endif %}

{% endblock %}